.card-box {
    padding: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: rgb(235, 239, 242);
    
  }
 
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.white{
    background-color: white;
   
    width :950;
    height : 400;

}
